---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import instrumentData from '../data/instruments.json';
import Navigation from '../components/Navigation.astro';
import '../styles/common.css'

---
<Layout title="DM - instruments">
	<main>

		<Navigation></Navigation>

		<h1>instruments  </h1>
		<p class="instructions">
			<strong>instruments I built</strong>
			
		</p>
		<ul role="list" class="link-card-grid">
			{instrumentData.map((data) => 
				<Card 
					href = {data.href}
					body = {data.description}
					title = {data.title}
					image = {data.imageUrl}
					tags = {data.tags}
					date = {data.date} >
				</Card>
			)}

		</ul>
		
	</main>
</Layout>

<style>
	
</style>
