---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';

import musicData from '../data/music.json';
import Navigation from '../components/Navigation.astro';
import '../styles/common.css'

---
<Layout title="DM - music">
	<main>

		<Navigation></Navigation>

		<h1>music  </h1>

		<p class="instructions">
			<strong>music I helped make in some capacity</strong>
		</p>

		<ul role="list" class="link-card-grid">
			{musicData.map((data) => 
				<Card 
					href = {data.href}
					body = ""
					title = {data.title}
					image = {data.imageUrl}
					tags = {data.tags}
					date = {data.date} >
				</Card>
	
			)}
		</ul>
		
	</main>
</Layout>

<style>

</style>
